<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учет персонала</title>
</head>
<body>
    <h1>Форма учета сотрудников</h1>
    <form method="POST">
        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" required><br><br>

        <label for="company">Компания:</label>
        <input type="text" id="company" name="company" required><br><br>

        <label for="surname">Фамилия:</label>
        <input type="text" id="surname" name="surname" required><br><br>

        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="patronymic">Отчество:</label>
        <input type="text" id="patronymic" name="patronymic"><br><br>

        <label for="work_section">Участок работы:</label>
        <input type="text" id="work_section" name="work_section" required><br><br>

        <button type="submit">Добавить сотрудника</button>
    </form>

    <h2>Выгрузка данных</h2>
    <a href="/download"><button>Скачать данные в формате .xlsx</button></a>
</body>
</html>
